{% assign figure_counter = figure_counter | plus: 1 %}
<figure class="figure ided text-center" id='figure{{ figure_counter }}'>
  <a data-toggle="modal" data-target="#figureModal{{ figure_counter }}">
  <img src="{{ include.source }}" class="figure-img img-fluid" alt="{{ include.caption }}">
  </a>
  {% if include.caption %}
    <figcaption class="figure-caption text-center">
      Figure {{ figure_counter }}: {{ include.caption }}
      {% if include.reference %}{% cite include.reference %}{% endif %}
    </figcaption>
  {% endif %}
</figure>


<div class="modal align-items-center show" id="figureModal{{ figure_counter }}" tabindex="-1">

  <div class="text-right fixed-top">
    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
      <i class="fas fa-times-circle fa-2x" style="margin: 20px"></i>
    </button>
  </div>

  <div class="modal-body vertically-centered">
    <figure class="figure">
      <img src="{{ include.source }}" class="figure-img img-fluid" alt="{{ include.caption }}">
      {% if include.caption %}
        <figcaption class="figure-caption text-center">
          Figure {{ figure_counter }}: {{ include.caption }}
        </figcaption>
      {% endif %}
    </figure>
  </div>
</div>
