nav { position: fixed; width: 100%; display: flex; justify-content: center; background: rgba(255, 255, 255, 0.9); z-index: 999; }

nav a { display: inline-block; text-decoration: none; padding: 20px 15px; color: #444; text-transform: uppercase; letter-spacing: 1px; font-size: .9em; }

nav a.active { color: #888; }

nav a:hover { color: #000; text-decoration: none; }

ol.bibliography li span { margin-top: -70px; padding-top: 70px; }

.ided { margin-top: -70px; padding-top: 70px; }

.vertically-centered { position: relative; top: 50%; transform: translateY(-50%); }

.modal-body { padding: 0; }

.modal-backdrop { opacity: 0.8 !important; }

.modal figcaption { color: white; }

html, body { padding: 0; margin: 0; line-height: 1.8em; }

body, input, textarea { font-family: 'Fira Sans', sans-serif; color: #222; -webkit-font-smoothing: antialiased; }

div.main-content { padding-top: 80px; }

h1 { font-size: 1.8em; margin: 0; padding: 0; line-height: 1.3em; font-weight: bold; }

h2 { font-size: 1.4em; margin-bottom: .5em; font-weight: bold; }

h4 { font-size: 1.2em; margin-bottom: .5em; }

time { color: #999; }

header { text-align: center; padding-bottom: 40px; }

img { max-width: 100%; }

figure.full { width: 100vw; margin-left: 50%; transform: translateX(-50%); }

ol li + li { margin: 20px 0 0 0; }

footer { color: #999; text-align: center; padding: 20px 0; font-size: .8em; }

hr { border: 0; border-top: 1px solid #eee; }

a { text-decoration: none; color: #007eff; }

pre[class*="language-"] { border-radius: 6px; }

header img { max-width: 180px; }

.post h1 a { color: #000; text-decoration: none; }

.post h1 a:hover { text-decoration: underline; }

.post time { display: block; }

.post .post-header { padding-bottom: 10px; }

.post .post-header .source { color: #999; margin: 0px; font-size: .9em; }

.post .post-header .source a { color: #999; }

.post .post-header .source a:hover { color: black; text-decoration: none; }

.post + .post { margin: 40px 0 50px 0; }

.pagination { text-align: center; margin: 50px 0 0 0; }

.take-me { float: right; }

.take-me .button { padding-top: 10px; padding-bottom: 10px; }

.cta { text-align: center; padding: 50px 0 0 0; }

.button, input[type="submit"] { background: #fff; cursor: pointer; border: 1px solid #666; color: #000; text-decoration: none; padding: 5px 10px; display: inline-flex; align-items: flex-end; margin: 0; font-size: .8em; }

.button:hover, input[type="submit"]:hover { background: #000; color: #fff; }

.button:focus, input[type="submit"]:focus { outline: none; }

.button { border-color: #000; }

.button a { color: #000; }

.button a:hover { color: #fff; }

input[type="submit"] { margin-top: 10px; padding-top: 10px; padding-bottom: 10px; }

input[type="text"], input[type="email"], textarea { display: block; width: 100%; font-size: 1.1em; padding: 10px; box-sizing: border-box; border: 1px solid #666; resize: none; }

input[type="text"]:focus, input[type="email"]:focus, textarea:focus { outline: 2px solid #333; }

textarea { height: 150px; }

label { margin: 20px 0 5px 0; display: block; }

::-webkit-input-placeholder { /* Chrome */ color: #999; }

:-ms-input-placeholder { /* IE 10+ */ color: #999; }

::-moz-placeholder { /* Firefox 19+ */ color: #999; opacity: 1; }

:-moz-placeholder { /* Firefox 4 - 18 */ color: #999; opacity: 1; }

legend { display: none; }

.contain { border: 0; background: 0; padding: 0; margin: 0; display: flex; flex-wrap: wrap; justify-content: space-between; }

.contain .split { flex: 0 0 380px; }

select { width: 100%; padding: 20px; height: 43px; background: #fff; border-color: rgba(0, 0, 0, 0); font-size: 1em; outline: 1px solid #000; }

select:focus { outline: 2px solid #333; }

.post-body { padding-top: 1em; }

.theme { display: flex; flex-wrap: wrap; }

.theme .post { flex: 1 0 300px; height: 200px; display: inline-block; background-position: center; background-size: cover; margin: 5px 5px; }

.theme .post a { width: 100%; height: 100%; display: block; background: rgba(0, 0, 0, 0.2); color: #fff; text-decoration: none; text-align: center; vertical-align: text-bottom; position: relative; transition: all 0.2s ease; font-size: 1.1em; font-weight: 700; }

.theme .post a span { position: absolute; bottom: 5px; width: 100%; left: 0; text-shadow: 1px 1px 1px #000; }

.theme .post a:hover { background: none; }

a.ref:hover { color: black; text-decoration: none; }

.category { margin-top: 1em; }

footer .language-switch { float: right; }

footer .language-switch a { display: inline-block; text-decoration: none; color: #444; text-transform: uppercase; letter-spacing: 1px; font-size: .9em; }

footer .language-switch a.active { color: #888; }

footer .language-switch a:hover { color: #000; }

footer a { color: #999; }

footer a:hover { color: black; text-decoration: none; }

footer .pdf-link { float: left; }

.equation { overflow-x: scroll; display: block; }

/*# sourceMappingURL=screen.css.map */