header img {
	max-width: 180px;
}

.post {
	h1 a {
		color: #000;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
	time {
		// padding: 0 0 20px 0;
		display: block;
	}

	.post-header {
		padding-bottom: 10px;

		.source {
			color: $light-grey;
			margin: 0px;
			font-size: .9em;

			a {
				color: $light-grey;

				&:hover {
					color: black;
					text-decoration: none;
				}
			}
		}
	}
}

.post + .post {
	margin: 40px 0 50px 0;
}

.pagination {
	text-align: center;
	margin: 50px 0 0 0;
}

.take-me {
	float: right;
	.button {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.cta {
	text-align: center;
	padding: 50px 0 0 0;
}
